AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER_NAME=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

OPENAI_API_KEY=
EMBEDDING_MODEL=
OPENAI_SMALL_MODEL=
OPENAI_MEDIUM_MODEL=
OPENAI_LARGE_MODEL=

RETRIEVAL_TOP_K=
FETCH_K=

JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=